.users-table {
    margin: auto;
    border-collapse: unset;
}


.table-row:first {
     font-weight: bold;
}
.table-cell {
    float: left; /* fix for  buggy browsers */
    border: .5px solid darkgray;
    width: 250px;
    height: 1.3em;
}
button {
    position: absolute;
}
